@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.hide-scrollbar::-webkit-scrollbar {
  width: 8px;
}
/* 
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-lg;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: 255, 255, 255;
  --h2-title-before-color: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 52, 52;
    --background-end-rgb: 7, 5, 19;
    --background-color: 7, 5, 19;
    --h2-title-before-color: 255, 255, 255;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}
.hero-section {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    clip-path: inset(0 0 100% 0);
  }
  to {
    opacity: 1;
    clip-path: inset(0 0 0 0);
  }
}
@media screen and (min-width: 1020px) {
  .animation-appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
  }
}

.mobile-menus {
  width: 0%;
  transition:
    width 0.3s,
    opacity 0.1s;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.mobile-menus.active-menu {
  width: 70%;
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
}

.project-description,
.card-description {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 4 !important;
}

.card-title {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
}

.h2-title {
  position: relative;
  display: inline-block;
}
.h2-title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 80%;
  left: 10%;
  right: 10%;
  height: 2px;
  background: rgb(var(--h2-title-before-color));
  border-radius: 20px;
}
.h2-title::after {
  content: "";
  position: absolute;
  bottom: -12.5px;
  width: 40%;
  left: 30%;
  right: 30%;
  height: 8px;
  background: #1e4849;
  border-radius: 2px;
}

.apps-segment .apps-segment-list {
  transition: 0.2s;
  max-height: 0;
  overflow: hidden;
}
.apps-segment .apps-segment-list li {
  font-size: 14px;
  font-weight: 400;
}

.apps-segment.active .apps-segment-list {
  transform-origin: top;
  max-height: 580px;
}

.apps-segment .arrow-icon {
  transition: 0.2s;
}
.apps-segment.active .arrow-icon {
  rotate: 180deg;
}

#blockNoteTextEditor .ProseMirror {
  background: transparent !important;
  min-height: 300px !important;
  border: 1px solid;
  border-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
}

#blockNoteTextEditor .ProseMirror:focus {
  box-shadow: none;
  border-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
}

.file-upload-label input {
  display: none;
}

.file-upload-label {
  cursor: pointer;
  padding: 30px 70px;
  border-radius: 10px;
  border: 2px dashed rgb(82, 82, 82);
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.browse-button {
  background-color: rgb(82, 82, 82);
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
}
.browse-button:hover {
  background-color: rgb(14, 14, 14);
}
