@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: 255, 255, 255;
  --h2-title-before-color: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 52, 52;
    --background-end-rgb: 7, 5, 19;
    --background-color: 7, 5, 19;
    --h2-title-before-color: 255, 255, 255;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}
.hero-section {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mobile-menus {
  width: 0%;
  transition: width 0.3s, opacity 0.1s;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.mobile-menus.active-menu {
  width: 70%;
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
}

.project-description,
.card-description {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 4 !important;
}

.card-title {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important;
}

.h2-title {
  position: relative;
  display: inline-block;
}
.h2-title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 80%;
  left: 10%;
  right: 10%;
  height: 2px;
  background: rgb(var(--h2-title-before-color));
  border-radius: 20px;
}
.h2-title::after {
  content: "";
  position: absolute;
  bottom: -12.5px;
  width: 40%;
  left: 30%;
  right: 30%;
  height: 8px;
  background: #1e4849;
  border-radius: 2px;
}
